<form>
    <mat-card-content class="">
        <p>
        <mat-checkbox [formControl]="disableSelect">correspondence address same as permanent address</mat-checkbox>
        </p>
        <mat-card-title>Permanent Address</mat-card-title>
        <p> 
            <mat-form-field>
                <input matInput placeholder="Street Address" [disabled]="disableSelect.value">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Apartment/Unit #" [disabled]="disableSelect.value">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="City" [disabled]="disableSelect.value">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="State" [disabled]="disableSelect.value">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="PIN Code" [disabled]="disableSelect.value">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="Home Phone">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Mobile Phone" [formControl] ="mobilePhone"  [errorStateMatcher]="matcher">
                <mat-error *ngIf="mobilePhone.hasError('required')">
                    Mobile number is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is required
                </mat-error>
            </mat-form-field>
        </p>
    </mat-card-content>
    <button type="submit">save</button>
</form>
