<form [formGroup]="basicsForm"  (ngSubmit)="basicsForm.valid && onSubmit()" #localForm>
    <mat-card-header>
      <mat-card-title>Basics Details</mat-card-title>
    </mat-card-header>
    <mat-card-content class="">
      <p>
        <mat-form-field>
          <input matInput placeholder="First name" formControlName="firstName" [class.is-invalid]="localForm.submitted && basicsForm.get('firstName')?.invalid">
          <mat-error class="invalid-feedback">
            First name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last name" formControlName="lastName" [class.is-invalid]="localForm.submitted && basicsForm.get('lastName')?.invalid">
          <mat-error >Last name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="middle name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput placeholder="Name(As per Aadhar)" formControlName="nameAadhar" [class.is-invalid]="localForm.submitted && basicsForm.get('nameAadhar')?.invalid">
          <mat-error class="invalid-feedback">Aadhar name is required</mat-error>
        </mat-form-field>
      </p>
    </mat-card-content>
</form>
