<form [formGroup]="form">
    <mat-card-header>
      <mat-card-title>Basics Details</mat-card-title>
    </mat-card-header>
    <mat-card-content class="">
      <p>
        <mat-form-field>
          <input matInput placeholder="First name" formControlName="firstName" [errorStateMatcher]="matcher">
          <!-- <mat-error *ngIf="nameAadhar.hasError('required')"> First name is required</mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last name" formControlName="lastName" [errorStateMatcher]="matcher">
          <!-- <mat-error *ngIf="nameAadhar.hasError('required')">Last name is required</mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="middle name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput placeholder="Name(As per Aadhar)" formControlName="nameAadhar" [errorStateMatcher]="matcher">
          <!-- <mat-error *ngIf="nameAadhar.hasError('required')">Aadhar name is required</mat-error> -->
        </mat-form-field>
      </p>
    </mat-card-content>
    <button type="submit" (click)="save()"> save</button>
</form>
