
<form>
    <mat-card-header>
      <mat-card-title>Spouse’s Details</mat-card-title>
    </mat-card-header>
    <mat-card-content class="">
      <p>
        <label>Maritial Status: </label>
        <mat-radio-group [formControl]="maritialStatus">
          <mat-radio-button value="yes">Yes</mat-radio-button>
          <mat-radio-button value="no">No</mat-radio-button>
        </mat-radio-group>
      </p>
      <p>
        <mat-form-field>
          <input matInput placeholder="Spouse’s Name" [formControl]="spouseName" [errorStateMatcher]="matcher">
          <mat-error *ngIf="spouseName.hasError('required')">Spouse’s name is required</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput placeholder="Spouse’s Employer" [formControl]="spouseEmployer" [errorStateMatcher]="matcher">
          <mat-error *ngIf="spouseEmployer.hasError('required')">Spouse’s employer name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Spouse’s Work Phone" [formControl]="spousePhone" [errorStateMatcher]="matcher">
          <mat-error *ngIf="spousePhone.hasError('required')">Spouse’s work phone number is required</mat-error>
        </mat-form-field>
      </p>
    </mat-card-content>
    <button type="submit">save</button>
</form>
