<form>
    <mat-card-content class="">
        <div>
            <mat-card-title>Correspondence Address</mat-card-title>
        </div>
        <p>
            <mat-form-field>
                <input matInput placeholder="Street Address" [formControl]="streetAddress" [errorStateMatcher]="matcher">
                <mat-error *ngIf="streetAddress.hasError('required')">
                    Street address is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Apartment/Unit #" [formControl]="apartmentUnit" [errorStateMatcher]="matcher">
                <mat-error *ngIf="apartmentUnit.hasError('required')">
                    Apartment/Unit is required
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="City" [formControl]="city" [errorStateMatcher]="matcher">
                <mat-error *ngIf="city.hasError('required')">
                    City is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="State" [formControl]="state" [errorStateMatcher]="matcher">
                <mat-error *ngIf="state.hasError('required')">
                    State is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="PIN Code" [formControl]="pincode" [errorStateMatcher]="matcher">
                <mat-error *ngIf="pincode.hasError('required')">
                    PIN code is required
                </mat-error>
            </mat-form-field>
        </p>
    </mat-card-content>
    <button type="submit">save</button>
</form>
