<form [formGroup]="correspondenceForm"  (ngSubmit)="correspondenceForm.valid && onSubmit()" #localForm>
    <mat-card-content class="">
        <div>
            <mat-card-title>Correspondence Address</mat-card-title>
        </div>
        <p>
            <mat-form-field>
                <input matInput placeholder="Street Address" formControlName="streetAddress" [class.is-invalid]="localForm.submitted && correspondenceForm.get('streetAddress')?.invalid">
                <mat-error class="invalid-feedback">Street address is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Apartment/Unit #" formControlName ="apartmentUnit" [class.is-invalid]="localForm.submitted && correspondenceForm.get('apartmentUnit')?.invalid">
                <mat-error class="invalid-feedback">Apartment/Unit is required</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="City" formControlName ="city" [class.is-invalid]="localForm.submitted && correspondenceForm.get('city')?.invalid">
                <mat-error class="invalid-feedback">City is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="State" formControlName ="state" [class.is-invalid]="localForm.submitted && correspondenceForm.get('state')?.invalid">
                <mat-error class="invalid-feedback">State is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="PIN Code" formControlName ="pincode" [class.is-invalid]="localForm.submitted && correspondenceForm.get('pincode')?.invalid">
                <mat-error class="invalid-feedback">PIN code is required</mat-error>
            </mat-form-field>
        </p>
    </mat-card-content>
</form>
