<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
  <ng-template matStepLabel>General Information</ng-template>
  <div fxLayout="row wrap" cols="2" rowHeight="2:1" fxLayout.lt-md="column" fxLayoutAlign="space-around stretch">

      <form [formGroup]="firstFormGroup"  (ngSubmit)="firstFormGroup.valid && onSubmit()" #localForm>
        <mat-action-row>
          <mat-card fxFlex.gt-xs="45" class="mb15">
            <div>
              <mat-form-field>
                <input matInput placeholder="First name" formControlName="firstName" [class.is-invalid]="localForm.submitted && firstFormGroup.get('firstName')?.invalid">
                <mat-error class="invalid-feedback">
                  First name is required
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Last name" formControlName="lastName" [class.is-invalid]="localForm.submitted && firstFormGroup.get('lastName')?.invalid">
                <mat-error >Last name is required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="middle name">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Name(As per Aadhar)" formControlName="nameAadhar" [class.is-invalid]="localForm.submitted && firstFormGroup.get('nameAadhar')?.invalid">
                <mat-error class="invalid-feedback">Aadhar name is required</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-card-content>
                <mat-radio-group>
                  <mat-radio-button value="1">Father Name</mat-radio-button>
                  <mat-radio-button value="2">Husband Name</mat-radio-button>
                </mat-radio-group>
                <mat-form-field>
                  <input matInput placeholder="name" formControlName ="Fathername" [class.is-invalid]="localForm.submitted && firstFormGroup.get('Fathername')?.invalid">
                  <mat-error class="invalid-feedback">Father name or Husband name is required</mat-error>
                </mat-form-field>
              </mat-card-content>
            </div>
          </mat-card>
          <mat-card fxFlex.gt-xs="45" class="mb25">
            <div>
              <div>
                <mat-card-title>Correspondence Address</mat-card-title>
              </div>
              <mat-form-field>
                <input matInput placeholder="Street Address" formControlName="streetAddress" [class.is-invalid]="localForm.submitted && firstFormGroup.get('streetAddress')?.invalid">
                <mat-error class="invalid-feedback">Street address is required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Apartment/Unit #" formControlName ="apartmentUnit" [class.is-invalid]="localForm.submitted && firstFormGroup.get('apartmentUnit')?.invalid">
                <mat-error class="invalid-feedback">Apartment/Unit is required</mat-error>
              </mat-form-field>
              <div>
                <mat-form-field>
                  <input matInput placeholder="City" formControlName ="city" [class.is-invalid]="localForm.submitted && firstFormGroup.get('city')?.invalid">
                  <mat-error class="invalid-feedback">City is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="State" formControlName ="state" [class.is-invalid]="localForm.submitted && firstFormGroup.get('state')?.invalid">
                  <mat-error class="invalid-feedback">State is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="PIN Code" formControlName ="pincode" [class.is-invalid]="localForm.submitted && firstFormGroup.get('pincode')?.invalid">
                  <mat-error class="invalid-feedback">PIN code is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div>
                <p>
                  <mat-checkbox [formControl]="disableSelect">correspondence address same as permanent address</mat-checkbox>
                </p>
                  <mat-card-title>Permanent Address</mat-card-title>
                <p> 
                  <mat-form-field>
                    <input matInput placeholder="Street Address" [disabled]="disableSelect.value" required>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Apartment/Unit #" [disabled]="disableSelect.value" required>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="City" [disabled]="disableSelect.value" required>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="State" [disabled]="disableSelect.value" required>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="PIN Code" [disabled]="disableSelect.value">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Home Phone">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Mobile Phone" formControlName ="mobilePhone" [class.is-invalid]="localForm.submitted && firstFormGroup.get('mobilePhone')?.invalid">
                    <mat-error class="invalid-feedback">Mobile number is required</mat-error>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email is required
                    </mat-error>
                  </mat-form-field>
                </p>
            </div>
          </mat-card>
        </mat-action-row>
        <br>
        <br>
        <mat-action-row>
          <mat-card fxFlex.gt-xs="45" class="mb35">
            <div>
              <mat-form-field>
                <input matInput placeholder="Birth Date" [matDatepicker]="picker" (focus)="picker.open()" readonly formControlName="firstCtrl" required>
              </mat-form-field>
              <mat-datepicker #picker></mat-datepicker>
              <div>
                <label>Maritial Status: </label>
                <mat-radio-group [formControl] ="maritialStatus">
                  <mat-radio-button value="yes">Yes</mat-radio-button>
                  <mat-radio-button value="no">No</mat-radio-button>
                  <mat-error *ngIf="maritialStatus.hasError('required')" >You must select one</mat-error>
                </mat-radio-group>
              </div>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Spouse’s Name" formControlName ="spouseName" [class.is-invalid]="localForm.submitted && firstFormGroup.get('spouseName')?.invalid">
                <mat-error class="invalid-feedback">Spouse’s name is required </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Spouse’s Employer" formControlName ="spouseEmployer" [class.is-invalid]="localForm.submitted && firstFormGroup.get('spouseEmployer')?.invalid">
                <mat-error class="invalid-feedback">Spouse’s employer name is required </mat-error>
              </mat-form-field>
             <mat-form-field>
                <input matInput placeholder="Spouse’s Work Phone" formControlName="spousePhone" [class.is-invalid]="localForm.submitted && firstFormGroup.get('spousePhone')?.invalid">
                <mat-error class="invalid-feedback">Spouse’s work phone number is required </mat-error>
              </mat-form-field>
            </div>
          </mat-card>
          <mat-card fxFlex.gt-xs="45" class="mb45">
            <div>
              <mat-form-field>
                <input matInput placeholder="Dependents" formControlName="dependents" [class.is-invalid]="localForm.submitted && firstFormGroup.get('dependents')?.invalid">
                <mat-error class="invalid-feedback">Dependents is required </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Nominee" formControlName="nominee" [class.is-invalid]="localForm.submitted && firstFormGroup.get('nominee')?.invalid">
                <mat-error class="invalid-feedback">Nominee is required </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Bank Name" formControlName="bankName" [class.is-invalid]="localForm.submitted && firstFormGroup.get('bankName')?.invalid">
                <mat-error class="invalid-feedback">Bank name is required </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Bank A/c No" formControlName="bankNo" [class.is-invalid]="localForm.submitted && firstFormGroup.get('bankNo')?.invalid">
                <mat-error class="invalid-feedback">Bank a/c no is required </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Bank Address" formControlName="bankAddress" [class.is-invalid]="localForm.submitted && firstFormGroup.get('bankAddress')?.invalid">
                <mat-error class="invalid-feedback">Bank address is required </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Passport No">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Any valid Visa">
              </mat-form-field>
            </div>
          </mat-card>  
        </mat-action-row> 
        <div class="next">
          <button type="submit" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </div>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Personal Details</ng-template>
    <form [formGroup]="secondFormGroup" (ngSubmit)="secondFormGroup.valid && onSubmit()" #localForm>
      <div>
        <div>
          <label for="name">Full Name:</label>
        </div>
        <mat-form-field>
          <input matInput placeholder="Initial" formControlName="initial" [class.is-invalid]="localForm.submitted && firstFormGroup.get('initial')?.invalid">
          <mat-error class="invalid-feedback">
            Initial is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstName" [class.is-invalid]="localForm.submitted && firstFormGroup.get('firstName')?.invalid">
          <mat-error class="invalid-feedback">
            First name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Middle Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastName" [class.is-invalid]="localForm.submitted && firstFormGroup.get('lastName')?.invalid">
          <mat-error class="invalid-feedback">
            Last name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <div>
          <label for="name">Father’s Name:</label>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="fatherName" [class.is-invalid]="localForm.submitted && firstFormGroup.get('fatherName')?.invalid">
            <mat-error class="invalid-feedback">
              Father’s name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="DOB" formControlName="fatherDOB" [class.is-invalid]="localForm.submitted && firstFormGroup.get('fatherDOB')?.invalid">
            <mat-error class="invalid-feedback">
              DOB is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div>
          <label for="name">Mother’s Name:</label>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="motherName" [class.is-invalid]="localForm.submitted && firstFormGroup.get('motherName')?.invalid">
            <mat-error class="invalid-feedback">
              Mother’s name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="DOB" formControlName="motherDOB" [class.is-invalid]="localForm.submitted && firstFormGroup.get('motherDOB')?.invalid">
            <mat-error class="invalid-feedback">
              DOB is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div>
          <label for="name">Spouse Name:</label>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="DOB">
          </mat-form-field>
        </div>
      </div>
      <div>
        <div>
          <label for="name">Children Name: 1</label>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="DOB">
          </mat-form-field>
        </div>
      </div>
      <div>
        <div>
          <label for="name">Children Name: 2</label>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name" >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="DOB" >
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button type="submit" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <ng-template matStepLabel>EMPLOYEE INFORMATION</ng-template>
    <form [formGroup]="thirdFormGroup">
      <div>
        <div>
          <label for="reference">Reference:</label>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="thirdCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mobile No:" formControlName="thirdCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Relationship" formControlName="thirdCtrl" required>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div>
          <label for="reference">Reference:</label>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="thirdCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mobile No:" formControlName="thirdCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Relationship" formControlName="thirdCtrl" required>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div>
          <label for="reference">Reference:</label>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="thirdCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mobile No:" formControlName="thirdCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Relationship" formControlName="thirdCtrl" required>
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>    
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>