.mb15{
    height: 35%;
    width: 100%;
    margin-left: -1%;

}
.mb25{
    height: 100%;
    width: 100%;
    display: block;
}
.mb35{
    height: 35%;
    width: 50%;
}
.mb45{
    height: 50%;
    width: 50%;
}
.next{
    float: right;
}
.mat-checkbox{
    margin-right: 16px;
}


