<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>General Information</ng-template>
    <form  (ngSubmit)="onSubmit()" #localForm>
      <app-employee-basic-details></app-employee-basic-details>
      <app-employee-communication-details></app-employee-communication-details>
      <app-employee-bank-details></app-employee-bank-details>
      <app-employee-nationality-details></app-employee-nationality-details>
      <div class="next">
        <button type="submit" mat-button  matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Personal Details</ng-template>
    <form [formGroup]="secondFormGroup" (ngSubmit)="secondFormGroup.valid && onSubmit()" #localForm>
      <div>
        <div>
          <label for="name">Full Name:</label>
        </div>
        <mat-form-field>
          <input matInput placeholder="Initial" formControlName="initial" [class.is-invalid]="localForm.submitted && firstFormGroup.get('initial')?.invalid">
          <mat-error class="invalid-feedback">
            Initial is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstName" [class.is-invalid]="localForm.submitted && firstFormGroup.get('firstName')?.invalid">
          <mat-error class="invalid-feedback">
            First name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Middle Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastName" [class.is-invalid]="localForm.submitted && firstFormGroup.get('lastName')?.invalid">
          <mat-error class="invalid-feedback">
            Last name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <div>
          <label for="name">Father’s Name:</label>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="fatherName" [class.is-invalid]="localForm.submitted && firstFormGroup.get('fatherName')?.invalid">
            <mat-error class="invalid-feedback">
              Father’s name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="DOB" formControlName="fatherDOB" [class.is-invalid]="localForm.submitted && firstFormGroup.get('fatherDOB')?.invalid">
            <mat-error class="invalid-feedback">
              DOB is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div>
          <label for="name">Mother’s Name:</label>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="motherName" [class.is-invalid]="localForm.submitted && firstFormGroup.get('motherName')?.invalid">
            <mat-error class="invalid-feedback">
              Mother’s name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="DOB" formControlName="motherDOB" [class.is-invalid]="localForm.submitted && firstFormGroup.get('motherDOB')?.invalid">
            <mat-error class="invalid-feedback">
              DOB is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div>
          <label for="name">Spouse Name:</label>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="DOB">
          </mat-form-field>
        </div>
      </div>
      <div>
        <div>
          <label for="name">Children Name: 1</label>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="DOB">
          </mat-form-field>
        </div>
      </div>
      <div>
        <div>
          <label for="name">Children Name: 2</label>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name" >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="DOB" >
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button type="submit" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <ng-template matStepLabel>EMPLOYEE INFORMATION</ng-template>
    <form [formGroup]="thirdFormGroup">
      <div>
        <div>
          <label for="reference">Reference:</label>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="thirdCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mobile No:" formControlName="thirdCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Relationship" formControlName="thirdCtrl" required>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div>
          <label for="reference">Reference:</label>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="thirdCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mobile No:" formControlName="thirdCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Relationship" formControlName="thirdCtrl" required>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div>
          <label for="reference">Reference:</label>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="thirdCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mobile No:" formControlName="thirdCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Relationship" formControlName="thirdCtrl" required>
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>    
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>