
.next{
  float: right;
}
.mat-checkbox{
    margin-right: 16px;
}

mat-slider {
    width: 300px;
}

.example-form {
  min-width: 70px;
  max-width: 50px;
  width: 50%;
}

.example-full-width {
  width: 50%;
}
// .mb35{
//     height: 35%;
// }
// .mb45{
//     height: 20%;
// }
// .mb65{
//     height: 20%;
// }