<form>
    <mat-card-header>
      <mat-card-title>Bank Details</mat-card-title>
    </mat-card-header>
    <mat-card-content class="">
      <p>
        <mat-form-field>
          <input matInput placeholder="Bank Name" [formControl]="bankName" [errorStateMatcher]="matcher">
          <mat-error *ngIf="bankName.hasError('required')">Bank name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Bank A/c No" [formControl]="bankNo" [errorStateMatcher]="matcher">
          <mat-error *ngIf="bankNo.hasError('required')">Bank a/c no is required</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput placeholder="Bank Address" [formControl]="bankAddress" [errorStateMatcher]="matcher">
          <mat-error *ngIf="bankAddress.hasError('required')">Bank address is required</mat-error>
        </mat-form-field>
      </p>  
    </mat-card-content>
    <button type="submit">save</button>
</form>
